<h1>Sampler Platter</h1>

<ul>
	<li><%= link_to 'Sortable List', :controller => "grocery_lists", :action => "index"  %></li>
	<li><%= link_to 'In-place editing', :controller => "in_place_editor", :action => "index" %></li>
	<li><%= link_to 'Pagination', :controller => "pagination", :action => "index" %></li>
	<li><%= link_to 'Auto Complete Text Field', :controller => "blogs", :action => "index" %></li>
	<li><%= link_to 'Tag Clouds', :controller => "tag_users", :action => "index" %></li>
</ul>
Further ideas:
<ul>
	<li>Connect to MS SQL Server (branch sql_server)</li>
	<li>Integrate some Google maps</li>
	<li>Expose some API for iPhone</li>
	<li>Check out RESTful features</li>
	<li>Hmmmm???</li>
</ul>

Done ideas:
<ul>
	<li><span class="item_done">Create a sitewide (vs. controller-wide) layout file</span></li>
</ul>