<h1>New blog</h1>

<% form_for(@blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= text_field_with_auto_complete :blog, :title, :skip_style => true %>  
	 (the title field should have the auto_complete feature)<br />
  </p>
  <p>
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', blogs_path %>