<p>
  <b>Name:</b>
  <%=h @grocery_list.name %>
</p>

<%= sortable_element "my_list",
							:url => {:action => "sort", :id => @grocery_list},
							:complete => visual_effect(:highlight, "my_list")
%>

<ul id="my_list" style="cursor: move">
  <% @grocery_list.food_items.each do |f| %>
    <li id="list_<%= f.id %>">
      <%= f.name %>
    </li>
  <% end %>
</ul>


<%= sortable_element :animal_list, :url => { :action => "hello" } -%>
<ul id="animal_list"> 
        <li id="item_1">Dog</li> 
        <li id="item_2">Pig</li> 
        <li id="item_3">Robot</li> 
</ul>

<%= link_to 'Edit', edit_grocery_list_path(@grocery_list) %> |
<%= link_to 'Back', grocery_lists_path %>