<p>
  <b>Name:</b>
  <%=h @tag_user.name %>
</p>

<p>
  <b>Skills:</b>
  <%=h @tag_user.skill_list %>
</p>

<p>
  <b>Interests:</b>
  <%=h @tag_user.interest_list %>
</p>


<%= link_to 'Edit', edit_tag_user_path(@tag_user) %> |
<%= link_to 'Back', tag_users_path %>